<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur5_intpro)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur5_intpro)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <!-- <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  /> -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
    shoulder_lift_lower_limit="${-pi/2.0}" shoulder_lift_upper_limit="${-pi/5.0}"
    elbow_joint_lower_limit="${pi/5.0}" elbow_joint_upper_limit="${pi}"
    wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
    wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
    wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />

  <!-- shoulder_pan_lower_limit:=${-pi/3}    shoulder_pan_upper_limit:=${pi/3}
    shoulder_lift_lower_limit:=${-pi/2.0}    shoulder_lift_upper_limit:=${-pi/2.0 + 0.01}
    elbow_joint_lower_limit:=${-pi/3.0}    elbow_joint_upper_limit:=${0} -->

  <link name="world" />

  <joint name="dummy_joint" type="fixed">
    <parent link="world"/>
    <child link="dummy_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>

  <link name="dummy_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="10000" />
      <inertia
        ixx="6666.66"
        ixy="0"
        ixz="0"
        iyy="6666.66"
        iyz="0"
        izz="6666.66" />
    </inertial>
     <visual>
      <geometry>
        <!-- <box size="2.0 2.0 1.0"/> -->
        <mesh filename="package://ur5_intpro/meshes/table/table.dae" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://ur5_intpro/meshes/table/table.dae" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <gazebo reference="dummy_link">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp value="900000000.0"></kp>
    <kd value="800000000.0"></kd>
    <selfCollide value="false"/>
    <static>true</static>
  </gazebo>


  <joint name="world_joint" type="fixed">
    <parent link="dummy_link" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 1.01207" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- <xacro:include filename="$(find ur5_intpro)/urdf/robotiq_arg2f_transmission.xacro" /> -->
  <!-- <xacro:include filename="$(find ur5_intpro)/urdf/robotiq_arg2f_85_model_macro.xacro" /> -->
  <!-- <xacro:robotiq_arg2f_85 prefix=""/> -->
  <!-- <xacro:robotiq_arg2f_transmission prefix="" /> -->

  <link name="robotiq_arg2f_base_link">
      <!-- <inertial>
        <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
        <mass value="10.22652" />
        <inertia ixx="0.020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.17832" iyz="-3.4402E-08" izz="0.013478" />
      </inertial> -->
      <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.48" />
      <inertia
        ixx="6.66"
        ixy="0"
        ixz="0"
        iyy="6.66"
        iyz="0"
        izz="6.66" />
    </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
        <!-- <box size="0.05 0.05 0.05"/> -->
          <!-- <mesh filename="package://ur5_intpro/meshes/visual/robotiq_arg2f_85_base_link_1.dae"/> -->
          <mesh filename="package://ur5_intpro/meshes/visual/base.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
        <!-- <box size="0.05 0.05 0.05"/> -->
           <!-- <mesh filename="package://ur5_intpro/meshes/visual/robotiq_arg2f_85_base_link_1.dae" /> -->
           <mesh filename="package://ur5_intpro/meshes/visual/base.dae" />
        </geometry>
      </collision>
    </link>

  <joint name="robotiq_joint" type="fixed">
    <parent link="tool0" />
    <child link = "robotiq_arg2f_base_link" />
    <origin xyz="0.5 0.0 0.5" rpy="0.0 0.0 0.0" />
 </joint>

<gazebo reference="robotiq_arg2f_base_link">
      <mu1 value="1.0"/>
      <mu2 value="1.0"/>
      <kp value="900000000.0"></kp>
      <kd value="800000000.0"></kd>
  </gazebo>

<!--  <link name="robotiq_arg2f_base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.48" />
      <inertia
        ixx="6.66"
        ixy="0"
        ixz="0"
        iyy="6.66"
        iyz="0"
        izz="6.66" />
    </inertial>
     <visual>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

   <gazebo reference="robotiq_arg2f_base_link">
    <mu1 value="1.0"/>
    <mu2 value="1.0"/>
    <kp value="900000000.0"></kp>
    <kd value="800000000.0"></kd>
    <selfCollide value="false"/>
  </gazebo> -->


</robot>
